@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Lobster&family=Pacifico&display=swap');
.body{
background-color: #2ba0ff;
}
.h1{
	font-family: Lobster, cursive;
}
.div1{
	align-items: center;
	background-color: #1774a3;
	text-align: center;
	margin: 0 30% 0 30%;
	border: 2mm ridge #36a4bf;

}
.div2
{
	
	background-color: #1774a3;
	text-align: center;
	margin: 0 30% 0 30%;
	border: 2mm ridge #36a4bf;
	font-size: 20px;
	text-shadow: 1px 2px 1px black;
	font-family: Pacific, cursive;

}
.figure{
	border: 2px black;
}
.img{
	height: max(500px);
	width: max(380px);
	float: auto;
}
.div3{
	
	background-color: #1774a3;
	text-align: left;
	margin: 0 30% 0 30%;
	border: 2mm ridge #36a4bf;
	font-size: 20px;
	text-shadow: 1px 2px 1px black;
	font-family: Balsamiq Sans, cursive;
	margin-right:  70%;
	margin-left: 0%
}
